<div class="card border-0">
    <h2 class="page__title" >Edit</h2>
    <div class="table-wrap">
        <div class="table" *ngIf="tmpJson.length">
            <table class="jsonTable table-hover table-bordered table-responsive-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" *ngFor="let item of tmpJson[0] | keyvalue">{{item.key}}</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of tmpJson">
                        <td *ngFor="let item of obj | keyvalue">
                            <!-- {{item.value}} -->
                            <input type="text" class="form-control" required [(ngModel)]="item.value">
                        </td>
                        <td><button class="btn btn-danger" type="button" (click)="deleteRow(obj)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="btn btn-primary" type="button" (click)="jsonToOut()">Save</button>
</div>