<h2 class="page__title">Json input</h2>
<div class="card border-0">
    <div class="jsonInput-form input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">JSON input</span>
        </div>
        <textarea class="jsonInput-form__input form-control" aria-label="JSON input" placeholder="Put your JSON text here..." [(ngModel)]="textInput"></textarea>
    </div>
    <button class="inputJson-form__submit btn btn-primary " type="button" (click)="jsonToObj(textInput)">Submit</button>
</div>